<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>last-messagetrace-stamp</key>
	<real>535282327.35962701</real>
	<key>loc</key>
	<string>de_DE</string>
	<key>mod-count</key>
	<integer>27</integer>
	<key>orientation</key>
	<string>left</string>
	<key>persistent-apps</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>199915944</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va8gCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAA6AEAAAwAAAABAQAAQXBwbGlj
				YXRpb25zCgAAAAEBAABTYWZhcmkuYXBwAAAIAAAAAQYA
				AAQAAAAYAAAACAAAAAQDAADlrQYAAAAAAAgAAAAEAwAA
				qjgHAAAAAAAIAAAAAQYAADwAAABMAAAACAAAAAAEAABB
				v7/0bwAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAA
				AAAAAAAACAAAAAEJAABmaWxlOi8vLwUAAAABAQAATWFj
				SEQAAAAIAAAABAMAAAAgwcwPAAAACAAAAAAEAABBv+e8
				+AAAACQAAAABAQAANDA4NjVFQTYtNzFFMi0zN0FELTgy
				NzAtOUNERjhCNUQ4MTRGGAAAAAECAAABAQAAAQAAAO8T
				AAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUA
				AKMAAAABAgAANDU0YmU2YTgzNDNlNzJlNDQ5ODU5MGY0
				Y2M2YjQ5NjhhYjM1Y2IyZTswMDAwMDAwMDswMDAwMDAw
				MDswMDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBsZS5hcHAt
				c2FuZGJveC5yZWFkLXdyaXRlOzAxOzAxMDAwMDAyOzAw
				MDAwMDAwMDAwNzM4YWE7L2FwcGxpY2F0aW9ucy9zYWZh
				cmkuYXBwAACoAAAA/v///wEAAAAAAAAADQAAAAQQAAAs
				AAAAAAAAAAUQAABcAAAAAAAAABAQAAB8AAAAAAAAAEAQ
				AABsAAAAAAAAAAIgAAAoAQAAAAAAAAUgAACcAAAAAAAA
				ABAgAACsAAAAAAAAABEgAADcAAAAAAAAABIgAAC8AAAA
				AAAAABMgAADMAAAAAAAAACAgAAAIAQAAAAAAADAgAAA0
				AQAAAAAAAIDwAAA8AQAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.Safari</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Safari.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Safari</string>
				<key>file-mod-date</key>
				<integer>3593825647</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>3596529372</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>199915946</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va9ACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAA8AEAAAwAAAABAQAAQXBwbGlj
				YXRpb25zDAAAAAEBAABDb250YWN0cy5hcHAIAAAAAQYA
				AAQAAAAYAAAACAAAAAQDAABIAAAAAAAAAAgAAAAEAwAA
				+hYAAAAAAAAIAAAAAQYAADwAAABMAAAACAAAAAAEAABB
				uzTVvgAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAA
				AAAAAAAACAAAAAEJAABmaWxlOi8vLwUAAAABAQAATWFj
				SEQAAAAIAAAABAMAAAAgwcwPAAAACAAAAAAEAABBv+e8
				+AAAACQAAAABAQAANDA4NjVFQTYtNzFFMi0zN0FELTgy
				NzAtOUNERjhCNUQ4MTRGGAAAAAECAAABAQAAAQAAAO8T
				AAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUA
				AKsAAAABAgAAZGQwZGFiOTMyOWY0MTU1NjcyMDIxYzU5
				MGVkODFhY2RlZTNhZGVmNjswMDAwMDAwMDswMDAwMDAw
				MDswMDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBsZS5hcHAt
				c2FuZGJveC5yZWFkLXdyaXRlOzAwMDAwMDAxOzAxMDAw
				MDA1OzAwMDAwMDAwMDAwMDE2ZmE7L2FwcGxpY2F0aW9u
				cy9jb250YWN0cy5hcHAAAKgAAAD+////AQAAAAAAAAAN
				AAAABBAAACwAAAAAAAAABRAAAFwAAAAAAAAAEBAAAHwA
				AAAAAAAAQBAAAGwAAAAAAAAAAiAAACgBAAAAAAAABSAA
				AJwAAAAAAAAAECAAAKwAAAAAAAAAESAAANwAAAAAAAAA
				EiAAALwAAAAAAAAAEyAAAMwAAAAAAAAAICAAAAgBAAAA
				AAAAMCAAADQBAAAAAAAAgPAAADwBAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.AddressBook</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Contacts.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Kontakte</string>
				<key>file-mod-date</key>
				<integer>3517599422</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>3550877966</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>199915947</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va9ACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAA8AEAAAwAAAABAQAAQXBwbGlj
				YXRpb25zDAAAAAEBAABDYWxlbmRhci5hcHAIAAAAAQYA
				AAQAAAAYAAAACAAAAAQDAABIAAAAAAAAAAgAAAAEAwAA
				SAkAAAAAAAAIAAAAAQYAADwAAABMAAAACAAAAAAEAABB
				vFiNtAAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAA
				AAAAAAAACAAAAAEJAABmaWxlOi8vLwUAAAABAQAATWFj
				SEQAAAAIAAAABAMAAAAgwcwPAAAACAAAAAAEAABBv+e8
				+AAAACQAAAABAQAANDA4NjVFQTYtNzFFMi0zN0FELTgy
				NzAtOUNERjhCNUQ4MTRGGAAAAAECAAABAQAAAQAAAO8T
				AAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUA
				AKsAAAABAgAAYTU2ZmIxNDlmOGEwMTExZTVmMzRlYTE4
				MzUyZmNiODBiOGY0OWM3YzswMDAwMDAwMDswMDAwMDAw
				MDswMDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBsZS5hcHAt
				c2FuZGJveC5yZWFkLXdyaXRlOzAwMDAwMDAxOzAxMDAw
				MDA1OzAwMDAwMDAwMDAwMDA5NDg7L2FwcGxpY2F0aW9u
				cy9jYWxlbmRhci5hcHAAAKgAAAD+////AQAAAAAAAAAN
				AAAABBAAACwAAAAAAAAABRAAAFwAAAAAAAAAEBAAAHwA
				AAAAAAAAQBAAAGwAAAAAAAAAAiAAACgBAAAAAAAABSAA
				AJwAAAAAAAAAECAAAKwAAAAAAAAAESAAANwAAAAAAAAA
				EiAAALwAAAAAAAAAEyAAAMwAAAAAAAAAICAAAAgBAAAA
				AAAAMCAAADQBAAAAAAAAgPAAADwBAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.iCal</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Calendar.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Kalender</string>
				<key>file-mod-date</key>
				<integer>3536717492</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>3550877966</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>199915952</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va9ACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAA8AEAAAwAAAABAQAAQXBwbGlj
				YXRpb25zDAAAAAEBAABNZXNzYWdlcy5hcHAIAAAAAQYA
				AAQAAAAYAAAACAAAAAQDAABIAAAAAAAAAAgAAAAEAwAA
				elYAAAAAAAAIAAAAAQYAADwAAABMAAAACAAAAAAEAABB
				tVh0PwAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAA
				AAAAAAAACAAAAAEJAABmaWxlOi8vLwUAAAABAQAATWFj
				SEQAAAAIAAAABAMAAAAgwcwPAAAACAAAAAAEAABBv+e8
				+AAAACQAAAABAQAANDA4NjVFQTYtNzFFMi0zN0FELTgy
				NzAtOUNERjhCNUQ4MTRGGAAAAAECAAABAQAAAQAAAO8T
				AAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUA
				AKsAAAABAgAAZjY1OTQ3ZTI2NjU3OTYxMWRmMWFiNWVh
				NWMwNzA3MzA3ZmM2NzYyNjswMDAwMDAwMDswMDAwMDAw
				MDswMDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBsZS5hcHAt
				c2FuZGJveC5yZWFkLXdyaXRlOzAwMDAwMDAxOzAxMDAw
				MDA1OzAwMDAwMDAwMDAwMDU2N2E7L2FwcGxpY2F0aW9u
				cy9tZXNzYWdlcy5hcHAAAKgAAAD+////AQAAAAAAAAAN
				AAAABBAAACwAAAAAAAAABRAAAFwAAAAAAAAAEBAAAHwA
				AAAAAAAAQBAAAGwAAAAAAAAAAiAAACgBAAAAAAAABSAA
				AJwAAAAAAAAAECAAAKwAAAAAAAAAESAAANwAAAAAAAAA
				EiAAALwAAAAAAAAAEyAAAMwAAAAAAAAAICAAAAgBAAAA
				AAAAMCAAADQBAAAAAAAAgPAAADwBAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.iChat</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Messages.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Nachrichten</string>
				<key>file-mod-date</key>
				<integer>3419270463</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>3550877966</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>199915956</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va9ACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAA8AEAAAwAAAABAQAAQXBwbGlj
				YXRpb25zDQAAAAEBAABBcHAgU3RvcmUuYXBwAAAACAAA
				AAEGAAAEAAAAGAAAAAgAAAAEAwAA5a0GAAAAAAAIAAAA
				BAMAAOitBgAAAAAACAAAAAEGAABAAAAAUAAAAAgAAAAA
				BAAAQb+oI2oAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAA
				AAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8FAAAAAQEA
				AE1hY0hEAAAACAAAAAQDAAAAIMHMDwAAAAgAAAAABAAA
				Qb/nvPgAAAAkAAAAAQEAADQwODY1RUE2LTcxRTItMzdB
				RC04MjcwLTlDREY4QjVEODE0RhgAAAABAgAAAQEAAAEA
				AADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAA
				AAEFAACmAAAAAQIAAGJiYmQ3MTA3NTljZTJjNmVjMTZl
				YmMyODQ1OWI4ZDE1NDJmZWYyNjk7MDAwMDAwMDA7MDAw
				MDAwMDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUu
				YXBwLXNhbmRib3gucmVhZC13cml0ZTswMTswMTAwMDAw
				MjswMDAwMDAwMDAwMDZhZGU4Oy9hcHBsaWNhdGlvbnMv
				YXBwIHN0b3JlLmFwcAAAAKgAAAD+////AQAAAAAAAAAN
				AAAABBAAADAAAAAAAAAABRAAAGAAAAAAAAAAEBAAAIAA
				AAAAAAAAQBAAAHAAAAAAAAAAAiAAACwBAAAAAAAABSAA
				AKAAAAAAAAAAECAAALAAAAAAAAAAESAAAOAAAAAAAAAA
				EiAAAMAAAAAAAAAAEyAAANAAAAAAAAAAICAAAAwBAAAA
				AAAAMCAAADgBAAAAAAAAgPAAAEABAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.appstore</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/App%20Store.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>App Store</string>
				<key>file-mod-date</key>
				<integer>3592264810</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>3596440618</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>199915957</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va+ACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAIAAAwAAAABAQAAQXBwbGlj
				YXRpb25zFgAAAAEBAABTeXN0ZW0gUHJlZmVyZW5jZXMu
				YXBwAAAIAAAAAQYAAAQAAAAYAAAACAAAAAQDAADlrQYA
				AAAAAAgAAAAEAwAA7kQHAAAAAAAIAAAAAQYAAEgAAABY
				AAAACAAAAAAEAABBv5VufwAAABgAAAABAgAAAgAAAAAA
				AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v
				LwUAAAABAQAATWFjSEQAAAAIAAAABAMAAAAgwcwPAAAA
				CAAAAAAEAABBv+e8+AAAACQAAAABAQAANDA4NjVFQTYt
				NzFFMi0zN0FELTgyNzAtOUNERjhCNUQ4MTRGGAAAAAEC
				AAABAQAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEA
				AC8AAAAAAAAAAQUAAK8AAAABAgAANGI0MmRhNjhmMWM0
				YjIyYTM4MWY4YzIzZWUxODdiZGYzNjc1MTFhNTswMDAw
				MDAwMDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDIwO2Nv
				bS5hcHBsZS5hcHAtc2FuZGJveC5yZWFkLXdyaXRlOzAx
				OzAxMDAwMDAyOzAwMDAwMDAwMDAwNzQ0ZWU7L2FwcGxp
				Y2F0aW9ucy9zeXN0ZW0gcHJlZmVyZW5jZXMuYXBwAACo
				AAAA/v///wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQ
				AABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAA
				AAIgAAA0AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAA
				AAAAABEgAADoAAAAAAAAABIgAADIAAAAAAAAABMgAADY
				AAAAAAAAACAgAAAUAQAAAAAAADAgAABAAQAAAAAAAIDw
				AABIAQAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.systempreferences</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/System%20Preferences.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Systemeinstellungen</string>
				<key>file-mod-date</key>
				<integer>3591038847</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>3596440618</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
	</array>
	<key>persistent-others</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>199915958</integer>
			<key>tile-data</key>
			<dict>
				<key>arrangement</key>
				<integer>2</integer>
				<key>book</key>
				<data>
				Ym9vazADAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAALAIAAAUAAAABAQAAVXNlcnMA
				AAAFAAAAAQEAAGx1a2FzAAAACQAAAAEBAABEb3dubG9h
				ZHMAAAAMAAAAAQYAAAQAAAAUAAAAJAAAAAgAAAAEAwAA
				UzAGAAAAAAAIAAAABAMAAMeFBgAAAAAACAAAAAQDAADK
				hQYAAAAAAAwAAAABBgAATAAAAFwAAABsAAAACAAAAAAE
				AABBu03cpQAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAA
				AAAAAAAAAAAACAAAAAQDAAABAAAAAAAAAAQAAAADAwAA
				9QEAAAgAAAABCQAAZmlsZTovLy8FAAAAAQEAAE1hY0hE
				AAAACAAAAAQDAAAAIMHMDwAAAAgAAAAABAAAQb/nvPgA
				AAAkAAAAAQEAADQwODY1RUE2LTcxRTItMzdBRC04Mjcw
				LTlDREY4QjVEODE0RhgAAAABAgAAAQEAAAEAAADvEwAA
				AQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACn
				AAAAAQIAADk4YjA2M2JjY2ZkNTMzZjZiZDUyNjBmNGJk
				OTZiNjA1ZGI0YjNlNTQ7MDAwMDAwMDA7MDAwMDAwMDA7
				MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNh
				bmRib3gucmVhZC13cml0ZTswMDAwMDAwMTswMTAwMDAw
				NTswMDAwMDAwMDAwMDY4NWNhOy91c2Vycy9sdWthcy9k
				b3dubG9hZHMAAMwAAAD+////AQAAAAAAAAAQAAAABBAA
				ADgAAAAAAAAABRAAAHwAAAAAAAAAEBAAAKAAAAAAAAAA
				QBAAAJAAAAAAAAAAAiAAAGgBAAAAAAAABSAAANwAAAAA
				AAAAECAAAOwAAAAAAAAAESAAABwBAAAAAAAAEiAAAPwA
				AAAAAAAAEyAAAAwBAAAAAAAAICAAAEgBAAAAAAAAMCAA
				AHQBAAAAAAAAAcAAAMAAAAAAAAAAEcAAABQAAAAAAAAA
				EsAAANAAAAAAAAAAgPAAAHwBAAAAAAAA
				</data>
				<key>displayas</key>
				<integer>0</integer>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Users/lukas/Downloads/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Downloads</string>
				<key>file-mod-date</key>
				<integer>3596434258</integer>
				<key>file-type</key>
				<integer>2</integer>
				<key>parent-mod-date</key>
				<integer>3596434326</integer>
				<key>preferreditemsize</key>
				<integer>-1</integer>
				<key>showas</key>
				<integer>1</integer>
			</dict>
			<key>tile-type</key>
			<string>directory-tile</string>
		</dict>
	</array>
	<key>trash-full</key>
	<true/>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
